body {
    display: grid;
    grid-template-columns: 250px auto;
}

#navWrapper {
    grid-row: 1 / span 3;
    position: relative;
}

nav ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 250px;
    li {
        flex: none;
    }
    a {
        text-align: right;
    }
}

#app {
    #appCards {
        flex-direction: row;
    }
}

#website {
    #webCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#free {
    #freeCards {
        flex-direction: row;
    }
}
